
<form [formGroup]="form" class="filter-form">
    <input type="text" formControlName="search" placeholder="Search products..." class="filter-input" />
  
    <select formControlName="filterType" class="filter-select">
      <option value="category">Filter by Category</option>
      <option value="price">Filter by Price Range</option>
    </select>
  
    @if (form.value.filterType === 'category') {
      <div>
        <select formControlName="category" class="filter-select">
          <option value="">All Categories</option>
          @for (cat of categories; track cat) {
            <option [value]="cat">{{ cat }}</option>
          }
        </select>
      </div>
    }
  
    @if (form.value.filterType === 'price') {
        <div class="price-range-inputs">
            <input type="text" formControlName="priceMin" placeholder="$0.00" class="filter-input" appCurrencyFormat />
            <input type="text" formControlName="priceMax" placeholder="$1000.00" class="filter-input" appCurrencyFormat />
        </div>
    }
</form>
  